In [1]:
#https://www.kaggle.com/datasets/khushikyad001/cigarettes-and-alcohol-addiction?resource=download

In [3]:

#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [9]:
#Uploading the dataset
df = pd.read_csv("addiction_population_data.csv")

In [11]:
#checking the first 10 rows of the dataset
df.head(10)

,id,name,age,gender,country,city,education_level,employment_status,annual_income_usd,marital_status,...,attempts_to_quit_smoking,attempts_to_quit_drinking,has_health_issues,mental_health_status,exercise_frequency,diet_quality,sleep_hours,bmi,social_support,therapy_history
0,1,Michael Bates,66,Other,Yemen,Martinmouth,Secondary,Student,45595,Married,...,6,2,True,Good,Daily,Average,5.6,22.4,NaN,Current
1,2,Brian Thompson,29,Male,Saudi Arabia,Harperhaven,Primary,Self-Employed,145842,Single,...,1,6,False,Poor,Weekly,Good,6.7,24.1,Moderate,NaN
2,3,Steven Little,75,Male,Togo,Chanport,Postgraduate,Unemployed,162480,Single,...,9,9,True,Good,Never,Good,6.2,22.2,Weak,NaN
3,4,Michael Mathews,35,Other,Togo,North Cory,University,Unemployed,16023,In a relationship,...,5,7,False,Average,Daily,Good,7.2,25.5,Moderate,Current
4,5,Nicholas Sanchez,38,Female,Morocco,Danielberg,College,Self-Employed,62933,In a relationship,...,4,7,True,Poor,Weekly,Good,8.5,31.2,Weak,Past
5,6,Carrie Sellers,17,Male,Belgium,West Arthur,Secondary,Employed,178640,Single,...,2,3,True,Good,Never,Average,6.4,29.3,Weak,Past
6,7,Jessica Riley MD,36,Male,Saint Kitts and Nevis,Christopherstad,College,Self-Employed,20491,Widowed,...,4,9,False,Good,Weekly,Good,4.5,32.6,Moderate,Past
7,8,Walter Tran MD,67,Male,Equatorial Guinea,Silvaberg,College,Unemployed,11275,Single,...,9,1,True,Average,Weekly,Good,3.6,24.6,Weak,NaN
8,9,Melanie Walker,16,Other,Burkina Faso,Brandystad,Postgraduate,Retired,85495,Divorced,...,6,5,False,Good,Weekly,Good,4.6,24.6,NaN,NaN
9,10,Carl Mathews,44,Male,Barbados,Roseborough,University,Self-Employed,192822,Single,...,2,2,False,Average,Weekly,Poor,4.5,26.0,Strong,Current

In [12]:
#Number of rows and columns in the dataset
df.shape

(3000, 25)

In [13]:
df.dtypes

id                             int64
name                          object
age                            int64
gender                        object
country                       object
city                          object
education_level               object
employment_status             object
annual_income_usd              int64
marital_status                object
children_count                 int64
smokes_per_day                 int64
drinks_per_week                int64
age_started_smoking            int64
age_started_drinking           int64
attempts_to_quit_smoking       int64
attempts_to_quit_drinking      int64
has_health_issues               bool
mental_health_status          object
exercise_frequency            object
diet_quality                  object
sleep_hours                  float64
bmi                          float64
social_support                object
therapy_history               object
dtype: object

In [15]:
#Data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3000 non-null   int64
 1   name                       3000 non-null   object
 2   age                        3000 non-null   int64
 3   gender                     3000 non-null   object
 4   country                    3000 non-null   object
 5   city                       3000 non-null   object
 6   education_level            2580 non-null   object
 7   employment_status          3000 non-null   object
 8   annual_income_usd          3000 non-null   int64
 9   marital_status             3000 non-null   object
 10  children_count             3000 non-null   int64
 11  smokes_per_day             3000 non-null   int64
 12  drinks_per_week            3000 non-null   int64
 13  age_started_smoking        3000 non-null   int64
 14  age_started_drinking       3000 non-null   int64
 15  attempts_to_quit_smoking   3000 non-null   int64
 16  attempts_to_quit_drinking  3000 non-null   int64
 17  has_health_issues          3000 non-null   bool
 18  mental_health_status       3000 non-null   object
 19  exercise_frequency         3000 non-null   object
 20  diet_quality               3000 non-null   object
 21  sleep_hours                3000 non-null   float64
 22  bmi                        3000 non-null   float64
 23  social_support             2247 non-null   object
 24  therapy_history            1986 non-null   object
dtypes: bool(1), float64(2), int64(10), object(12)
memory usage: 565.6+ KB

In [17]:
#Summary statistics of the dataset
df.describe()

,id,age,annual_income_usd,children_count,smokes_per_day,drinks_per_week,age_started_smoking,age_started_drinking,attempts_to_quit_smoking,attempts_to_quit_drinking,sleep_hours,bmi
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,1500.500000,46.654333,98904.178000,2.453667,10.034000,5.002333,24.365667,24.525333,4.440333,4.542000,6.470400,25.170133
std,866.169729,18.740880,57288.035963,1.704354,3.108386,2.214037,8.707309,8.679121,2.835334,2.866992,1.495878,5.013345
min,1.000000,15.000000,560.000000,0.000000,2.000000,0.000000,10.000000,10.000000,0.000000,0.000000,1.500000,9.100000
25%,750.750000,31.000000,49336.000000,1.000000,8.000000,3.000000,17.000000,17.000000,2.000000,2.000000,5.475000,21.900000
50%,1500.500000,47.000000,98616.500000,2.000000,10.000000,5.000000,24.000000,25.000000,4.000000,5.000000,6.500000,25.200000
75%,2250.250000,63.000000,148622.750000,4.000000,12.000000,6.000000,32.000000,32.000000,7.000000,7.000000,7.500000,28.400000
max,3000.000000,79.000000,199951.000000,5.000000,21.000000,14.000000,39.000000,39.000000,9.000000,9.000000,12.600000,43.900000

In [20]:
#cleaning the dataset
#checking for missing values
df.isnull().sum()

id                              0
name                            0
age                             0
gender                          0
country                         0
city                            0
education_level               420
employment_status               0
annual_income_usd               0
marital_status                  0
children_count                  0
smokes_per_day                  0
drinks_per_week                 0
age_started_smoking             0
age_started_drinking            0
attempts_to_quit_smoking        0
attempts_to_quit_drinking       0
has_health_issues               0
mental_health_status            0
exercise_frequency              0
diet_quality                    0
sleep_hours                     0
bmi                             0
social_support                753
therapy_history              1014
dtype: int64

In [22]:
#Handling missing values
df=df.dropna()

In [23]:
#checking for duplicate values
df.duplicated().sum()

np.int64(0)